body {
  max-width: 800px;
  margin: auto;
}

svg {
  display: block;
  font: 10px sans-serif;
  /*shape-rendering: crispEdges;*/
}

.get-data {

}

.btn-default {
  width: 100%;
}

div {
  /*border: solid 1px black;*/
}

.row {
  margin: 10px;
}

select {
  width: 100%;
}

rect {
  fill: #3a444f;
}

.axis path,
.axis line {
  fill: none;
  stroke: #26292e;
}

.axis {
  font-family: sans-serif;
  font-size: 12px;
  stroke: #ccc;
}
